target
project/plugins/project
project/boot/*
*/project/boot
*/project/build/target
lib_managed
.DS_Store
.scala_dependencies
*.ipr
*.iws
*.iml
*.swp
derby.log
.project
.settings
.classpath
.idea
trash
lift_proto.db.h2.db
